<a href="https://colab.research.google.com/github/coderanandmaurya/PySpark/blob/main/PySpark_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv("https://raw.githubusercontent.com/coderanandmaurya/PySpark/refs/heads/main/Day1_Spark_Data.csv")

    NAME  CGPA  PKG
0  sahil     9   10
1   aman     8    9
2  jerry     6    6

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Day1').getOrCreate()

In [6]:
spark

In [9]:
df_pyspark=spark.read.csv("/content/Day1_Spark_Data.csv")

In [10]:
df_pyspark.show()

+-----+----+---+
|  _c0| _c1|_c2|
+-----+----+---+
| NAME|CGPA|PKG|
|sahil|   9| 10|
| aman|   8|  9|
|jerry|   6|  6|
+-----+----+---+

In [11]:
spark.read.option('header','true').csv("/content/Day1_Spark_Data.csv")

DataFrame[NAME: string, CGPA: string, PKG: string]

In [12]:
df_PS=spark.read.option('header','true').csv("/content/Day1_Spark_Data.csv")

In [13]:
df_PS.show()

+-----+----+---+
| NAME|CGPA|PKG|
+-----+----+---+
|sahil|   9| 10|
| aman|   8|  9|
|jerry|   6|  6|
+-----+----+---+

In [14]:
type(df_PS)

pyspark.sql.dataframe.DataFrame

In [15]:
df_PS.head(3)

[Row(NAME='sahil', CGPA='9', PKG='10'),
 Row(NAME='aman', CGPA='8', PKG='9'),
 Row(NAME='jerry', CGPA='6', PKG='6')]

In [16]:
#df.info  #why string?  Ans: inferSchema
df_PS.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- CGPA: string (nullable = true)
 |-- PKG: string (nullable = true)

In [17]:
spark.read.option('header','true').csv("/content/Day1_Spark_Data.csv",inferSchema=True)

DataFrame[NAME: string, CGPA: int, PKG: int]

In [18]:
df_PS.columns

['NAME', 'CGPA', 'PKG']

In [22]:
#show only one col
print(type(df_PS.select('Name')))
df_PS.select('Name').show()

<class 'pyspark.sql.dataframe.DataFrame'>
+-----+
| Name|
+-----+
|sahil|
| aman|
|jerry|
+-----+

In [24]:
df_PS.select(['Name','CGPA']).show()

+-----+----+
| Name|CGPA|
+-----+----+
|sahil|   9|
| aman|   8|
|jerry|   6|
+-----+----+

In [25]:
df_PS["name"]

Column<'name'>

In [26]:
df_PS.dtypes

[('NAME', 'string'), ('CGPA', 'string'), ('PKG', 'string')]

In [27]:
df_PS.describe().show()

+-------+-----+------------------+------------------+
|summary| NAME|              CGPA|               PKG|
+-------+-----+------------------+------------------+
|  count|    3|                 3|                 3|
|   mean| NULL| 7.666666666666667| 8.333333333333334|
| stddev| NULL|1.5275252316519465|2.0816659994661326|
|    min| aman|                 6|                10|
|    max|sahil|                 9|                 9|
+-------+-----+------------------+------------------+

In [33]:
#Adding col and drop col  # not inplace method
df_PS=df_PS.withColumn('CGPA_2',df_PS['CGPA']*2)

In [34]:
df_PS.show()

+-----+----+---+------+
| NAME|CGPA|PKG|CGPA_2|
+-----+----+---+------+
|sahil|   9| 10|  18.0|
| aman|   8|  9|  16.0|
|jerry|   6|  6|  12.0|
+-----+----+---+------+

In [36]:
## drop col #give multiple or single col
df_PS=df_PS.drop('CGPA_2')

In [37]:
df_PS.show()

+-----+----+---+
| NAME|CGPA|PKG|
+-----+----+---+
|sahil|   9| 10|
| aman|   8|  9|
|jerry|   6|  6|
+-----+----+---+

In [38]:
## rename col
df_PS.withColumnRenamed('Name','New_Name').show()

+--------+----+---+
|New_Name|CGPA|PKG|
+--------+----+---+
|   sahil|   9| 10|
|    aman|   8|  9|
|   jerry|   6|  6|
+--------+----+---+